
body{
	margin:0px;
	padding:0px;
	font-size:16px;
	background-color:#99CCCC;
}
#caption-box{
	background-color:black;
	color:white;
	font-size:200%;
	width:100%;
	float:left;
	text-align:center;
}

#main-box{
	width:100%;
	min-height:400px;
	text-align:center;
	padding:20px;
}
.main-box-item-caption{
	font-size:120%;
}
#box-sourceLang{
	width:85%;
	min-height:300px;
}
#cb{
	font-size:125%;
	background-color:#336699;
	float:left;
	width:100%;
}
.cbi{
	float:left;
	padding-right:10px;
	padding-left:10px;
}
.cbi1{
	float:right;
}
.cbi2{
	float:right;
}
.cbi3{
	float:right;
}
.cbi:hover{
	background-color:white;
}
.cbi:active{
	background-color:gray;
}
.cbis:hover{
	background-color:gold;
}
.cbis:active{
	background-color:yellow;
}